body {
    font-family: "Gotham Rounded", cursive;
    text-align: center;
}

.navbar-brand {
  font-size: 1.1em;
}

.dungeon {
  margin-top: 3em;
  border: 1px solid #ddd;
  height: 400px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  /*overflow: hidden;*/ 
}

.maze, .floor {
  float: left;
}

.floor {
  background-color: #333;
}
